__pycache__
__pycache__/function.cpython-310.pyc
templates/img/ava1.png
templates/img/ava2.png
templates/img/bookmark.png
templates/img/eye.png
templates/img/post1.jpg
templates/img/post2.jpg
templates/img/post3.jpg
templates/img/post4.jpg
templates/img/post5.jpg
templates/img/post6.jpg
templates/img/post7.jpg
templates/img/post8.jpg
templates/img/post9.jpg
templates/img/post10.jpg
